.nav {
  text-decoration: none !important;
  height: 100vh;
  background-color: rgb(19, 16, 16);
}

.nav-item {
  margin: 50px 50px;
}
img {
  width: 90px;
  height: 90px;
}
a {
  text-decoration: none !important;
}
