img {
  width: 50px !important;
  height: 50px !important;
}
body {
  color: #fff !important;
  background-color: black;
}
a {
  color: #fff !important;
}
Link {
  color: #fff !important;
}
button.create-button {
  margin-left: 200px;
}
